# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
__pycache__/
.env
data/
orchestrator/src/data/*
!orchestrator/src/data/.gitkeep
safeway-navigation-666b056dc5b0.json
orchestrator/assets/safeway_logo.svg
orchestrator/orchestrator-dev.yaml
frontend/src/hooks/resMock.ts
safeway-navigation-994d86b2aea5.json