@import "tailwindcss";

@theme {
  --color-brand-slate: #1a1a1a; /* dark grey */
  --color-brand-border: #333333; /* dark grey */

  --color-brand-hover: #2563eb; /* royal blue */
  /* Brand Core */
  --color-brand-black: #080808; /* black */
  --color-brand-dark: #101010; /* dark grey */
  --color-brand-blue: #4dabf5; /* sky blue */

  /* Routing & Safety (Functional Colors) */
  --color-route-safest: #10b981; /* Emerald */
  --color-route-fastest: #3b82f6; /* royal Blue */
  --color-route-alt: #f59e0b; /* Amber */
  --color-error: #ef4444;

  /* Markers */
  --color-marker-start: #3b82f6; /* royal Blue */
  --color-marker-end: #ef4444; /* Red */
  --color-shelter-purple: #7b1fa2;
  --color-shelter-pink: #f54de1;

  /* Text */
  --color-text-main: #ffffff; /* white */
  --color-text-muted: #94a3b8; /* light blue grey */
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--color-brand-black);
  color: var(--color-text-main);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
.leaflet-container {
  height: 100vh !important;
  width: 100vw !important;
  position: absolute !important;
  top: 0;
  left: 0;
}
